@mixin media-breakpoint-up($break) {
  @if $break == "xs" {
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $break == "sm" {
    @media (max-width: 767.98px) {
      @content;
    }
  } @else if $break == "md" {
    @media (max-width: 991.98px) {
      @content;
    }
  } @else if $break == "lg" {
    @media (max-width: 1199.98px) {
      @content;
    }
  }
}

p,
a,
small,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}

body {
  padding-bottom: 0px;

  @include media-breakpoint-up(sm) {
    padding-bottom: 80px;
  }
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 2;

  /* If < xs, place the navbar at the bottom of the page, and make it stick */
  @include media-breakpoint-up(sm) {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 4;
  }
}

#message-chevron-right {
  display: inline-block;
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

#message-chevron-down {
  display: none;
  @include media-breakpoint-up(sm) {
    display: inline-block;
  }
}

header {
  background-image: url("/photos/bg-hammer.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    // backdrop-filter: blur(2px);
    color: white;
  }
}

main {
  position: relative;
  z-index: 3;
  background-color: #fafafa;
}

//Sliding little profile image effect
// .btn-my {
//   position: relative;
//   .btn {
//     position: relative;
//     z-index: 1;
//   }
//   .my-img-button {
//     height: 40px;
//     width: 40px;
//     transition: all 0.5s ease;
//     z-index: 0;
//     position: absolute;
//     bottom: 0px;
//     right: 38%;
//   }
// }
// .btn-my:hover {
//   .my-img-button {
//     transition: all 0.5s ease;
//     bottom: -30px;
//   }
// }

textarea {
  height: 200px !important;
}

.photo-profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    // right: -30px;
    // bottom: 0px;
  }
}

.navbar-nav .nav-item .nav-link {
  text-decoration: underline 0px;
  text-decoration-color: rgba(255, 255, 255, 0);
  text-underline-offset: 8px;
  transition: all 0.5s ease;
}
.navbar-nav .nav-item .nav-link:hover {
  text-decoration: underline 2px;
  text-decoration-color: #fff;
}

.message-textarea {
  height: auto !important;
}

/* a container with flex-direction column */
.main-container {
  max-height: 50vh !important; /* or position:absolute; height:100%; */
  display: flex !important;
  flex-direction: column !important;
}

/* this is the flex container that will take the rest of the height */
.content-wrapper {
  display: flex !important;
  flex: 1 !important;
  min-height: 0px !important; /* IMPORTANT: you need this for non-chrome browsers */
}

/* the container for our overflowed content */
.overflow-container {
  background-color: white;
  flex: 1 !important;
  overflow: auto !important;
}

/* the overflow content itself */
.overflow-content {
  height: fit-content !important;
}

// Fix the problem form-floating on textarea /////////////////////
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  border-radius: 5px 0 0 0;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  border-radius: 5px 0 0 0;
}
.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  border-radius: 5px 0 0 0;
}
////////////////////////////////////////////////////////////////////
